<div class="row mt-4">
    <div class="col-md-6">
      <div class="row" style="height: 460px;">
        <div class="col-md-13 my-auto side-header">
          <img src="/assets/Img/descarga2.png" class="mx-auto d-block">
          <h3>Registro Usuarios</h3>
          <p><em>-Usando <strong>.Net Core</strong> y <strong>Angular 12</strong></em></p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <form [formGroup]="service.formModel" autocomplete="off" (submit)="onSubmit()">
        <div class="form-group required">
          <label>Usuario</label>
          <input class="form-control" formControlName="UserName">
          <label class="text-danger" *ngIf="service.formModel.get('UserName').touched && service.formModel.get('UserName').errors?.required">Este campo es obligatorio</label>
        </div>
        <div class="form-group">
          <label>Nombre</label>
          <input class="form-control" formControlName="FirstName">
        </div>
        <div class="form-group">
          <label>Apellido</label>
          <input class="form-control" formControlName="LastName">
        </div>
        <div class="form-group">
          <label>Direccion</label>
          <input class="form-control" formControlName="Address">
        </div>
        <div class="form-group">
          <label>Cumpleaños "dia/mes"</label>
          <input class="form-control" formControlName="BirthDate">
        </div>
        <div class="form-group">
          <label>Email</label>
          <input class="form-control" formControlName="Email">
          <label class="text-danger" *ngIf="service.formModel.get('Email').touched && service.formModel.get('Email').errors?.email">Direccion de Correo invalida.</label>
        </div>
        <div class="form-group">
          <label>Telefono"</label>
          <input class="form-control" formControlName="PhoneNumber">
        </div>
        <div formGroupName="Passwords">
          <div class="form-group required">
            <label>Contraseña</label>
            <input type="password" class="form-control" formControlName="Password">
            <label class="text-danger" *ngIf="service.formModel.get('Passwords.Password').touched && service.formModel.get('Passwords.Password').errors?.required">Este campo es obligatorio.</label>
            <label class="text-danger" *ngIf="service.formModel.get('Passwords.Password').touched && service.formModel.get('Passwords.Password').errors?.minlength">Minimo 4 caracteres.</label>
          </div>
          <div class="form-group required">
            <label>Confirmar Contraseña</label>
            <input type="password" class="form-control" formControlName="ConfirmPassword">
            <label class="text-danger" *ngIf="service.formModel.get('Passwords.ConfirmPassword').touched && service.formModel.get('Passwords.ConfirmPassword').errors?.required">Este campo es obligatorio</label>
            <label class="text-danger" *ngIf="service.formModel.get('Passwords.ConfirmPassword').touched && service.formModel.get('Passwords.ConfirmPassword').errors?.passwordMismatch">El password no coincide.</label>
          </div>
        </div>
        <div class="form-row">
          <div><p></p></div>
          <div class="form-group col-md-8 offset-md-2">
            <button type="submit" class="btn btn-lg btn-block" [disabled]="!service.formModel.valid">Registrarse</button>
          </div>
        </div>
      </form>
    </div>
  </div>
