<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand text-white">WM</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/adminpanel">Admin Panel</a>
      </li>
    </ul>
    <button class="btn btn-danger" (click)="onLogout()">Cerrar</button>
  </nav>
<div>
   
    <object data="https://test1-pdkvnbxju-loganurcla-gmailcom.vercel.app/#/dashboard" width="1350" height="800">
        <embed src="https://test1-pdkvnbxju-loganurcla-gmailcom.vercel.app/#/dashboard" width="600" height="400"/>
    </object>

</div>
