<div class="row mt-4">
  <div class="col-md-6">
    <div class="row" style="height: 460px;">
      <div class="col-md-13 my-auto side-header">
        <img src="/assets/Img/descarga2.png" class="mx-auto d-block">
        <h3 style="text-align: center;">Inicio de Usuarios</h3>
        <p><em>-Usando <strong>.Net Core</strong> y <strong>Angular 12</strong></em></p>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <form #form='ngForm' class="mb-4" autocomplete="off" (submit)="onSubmit(form)">
    <div class="form-group">
      <label>Usuario</label>
      <input class="form-control" #UserName="ngModel" name="UserName" [(ngModel)]="formModel.UserName" required>
    </div>
    <div class="form-group">
      <label>Contraseña</label>
      <input type="password" class="form-control" #Password="ngModel" name="Password" [(ngModel)]="formModel.Password" required>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12 offset-md-2">
        <div><p></p></div>
        <button type="submit" class="btn btn-lg btn-block" [disabled]="form.invalid">Iniciar Sesion</button>
      </div>
    </div>
  </form>
</div>
</div>
